.projects-heading {
  /* width: 1027px; */
  /* margin: 0 auto; */
  color: #ABB2BF;
  font-size: 35px;
  font-family: 'Fira Code', monospace;
  text-transform: capitalize;
  text-align: left;
}
.all-project-section{
  width: 1124px;
}
.projects-filter-nav {
  width: 1124px;
  margin: 0 auto;
}
.filter-button {
  border: 1px solid gainsboro;
  border-radius: 15px;
  font-family: monospace;
  font-size: 15px;
  color: gainsboro;
  padding: 3px 15px;
  text-decoration: none;
  margin-right: 15px;
  background-color: #282c33;
}
.filter-button:hover {
  border: 1px solid palegoldenrod;
  color: palegoldenrod;
}
