.project-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;
}
.fa-folder{
    color: palegoldenrod;
}
.icon-color{
    color: aliceblue;
}
.icon-color:hover{
    color: palegoldenrod;
}
