.project-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;
}
.fa-folder{
    color: palegoldenrod;
}
.icon-color{
    color: aliceblue;
}
.icon-color:hover{
    color: palegoldenrod;
}

.card{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}