.about-section {
  width: 1124px;
  height: 508px;
  margin: 0 auto;
  margin-top: 175px;
  padding-top: 175px;
}

.about-section-title {
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 45px !important;
  min-height: 10vh;
}
.my-img {
  width: 343px;
  height: 508px;
  background-color: white;
}
.my-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}
.info-container {
  width: 515px;
  height: 508px;
}

.info-container p {
  color: #abb2bf;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  line-height: 32px;
  margin-bottom: 30px;
}
.my-info-button {
  border: 1px solid palegoldenrod;
  font-family: monospace;
  font-size: 15px;
  color: peachpuff;
  padding: 9px 15px;
  text-decoration: none;
  margin-right: 5px;
  border-radius: 7px;
}

.skill-card {
  border-radius: 0;
  margin: 0;
  /* background-color: #abb2bf; */
}
.card-body hr {
  width: 100% !important;
  color: #abb2bf;
  /* background-color: #abb2bf; */
}

.card-subtitle {
  color: #abb2bf;
}
.card-title {
  color: #ffffff;
  font-family: 'poppins', sans-serif;
}
.skill-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
