.about-section {
  width: 1025px;
  height: 508px;
  margin: 0 auto;
}

.about-section-title {
  color: palegoldenrod;
  font-family: monospace;
  font-weight: 600;
}
.my-img {
  width: 343px;
  height: 508px;
  background-color: white;
}
.my-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}
.info-container  {
  width: 515px;
  height: 508px;
  padding-top: 35px;
}

.info-container p{
    color: #ABB2BF;
    font-family: monospace;
    
}
.my-info-button{
    border: 1px solid palegoldenrod;
    font-family: monospace;
    font-size: 15px;
    color: peachpuff;
    padding: 7px 15px;
    text-decoration: none;
    margin-right: 5px;
}

