.project-slider-header h1 {
  font-family: monospace;
  font-size: 42px;
  color: palegoldenrod;
  text-transform: capitalize;
  text-align: center;
  margin-top: 375px;
  padding-top: 175px;

}
.card-title{
  font-size: 17px;
  color: palegoldenrod;
  font-family: monospace;
}
.card-text ul{
  display: flex;
  align-items: center;
  position: relative;
  left: -30px;
  gap: 10px;
  letter-spacing: .5px;
  list-style-type: none;
  color: palegoldenrod;
}
.card-text{
  font-family: monospace;
  color: #ABB2BF;
  font-weight: 500;
}
.slider-button{
  border: 1px solid palegoldenrod;
  font-family: monospace;
  font-size: 15px;
  color: peachpuff;
  padding: 3px 15px;
  text-decoration: none;
  margin-right: 5px;



}
.cards {
  display: grid;
  place-items: center;
  min-height: 60vh;
}
.card {
  margin: 20px;
  background-color: #282C33;
  border: 1px solid #ABB2BF;
  
   
}
.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.cards .card {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  animation: animate 15s infinite linear;
  animation-delay: calc(3s * var(--delay));
}

.outer:hover .card {
  animation-play-state: paused;
}
.cards .card:last-child {
  animation-delay: calc(-3s * var (--delay));
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateX(100%) scale(0.5);
  }

  5%,
  20% {
    opacity: 0.4;
    transform: translateX(100%) scale(0.7);
  }
  25%,
  40% {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0%) scale(1);
  }
  45%,
  60% {
    opacity: 0.4;
    transform: translateX(-100%) scale(0.7);
  }
  65%,
  100% {
    opacity: 0;
    transform: translateX(-100%) scale(0.7);
  }
}
