.project-slider-header h1{
  display: grid;
  place-items: center;
  padding-top: 150px;
  font-family: JetBrains Mono;
  text-transform: capitalize;
  color:#EEE0FF;
  font-weight: 700;
}
.cards {
  display: grid;
  place-items: center;
  min-height: 80vh;
}
.card {
  margin: 20px;
}
.outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards .card {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  animation: animate 15s infinite linear;
  animation-delay: calc(3s * var(--delay));
}

.outer:hover .card {
  animation-play-state: paused;
}
.cards .card:last-child {
  animation-delay: calc(-3s * var (--delay));
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateX(100%) scale(0.5);
  }

  5%,
  20% {
    opacity: 0.4;
    transform: translateX(100%) scale(0.7);
  }
  25%,
  40% {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0%) scale(1);
  }
  45%,
  60% {
    opacity: 0.4;
    transform: translateX(-100%) scale(0.7);
  }
  65%,
  100% {
    opacity: 0;
    transform: translateX(-100%) scale(0.7);
  }
}
