.contact-section {
  width: 1027px;
  margin: 0 auto;
  margin-top: 175px;
  padding-top: 175px;
}
.contact-title {
  font-size: 42px;
  color: palegoldenrod;
  font-family: monospace;
  font-weight: 600;
}
.contact-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
.contact-info-container p {
  width: 675px;
  color: #ABB2BF;
  font-family: monospace;
  font-size: 17px;
}
.contact-link {
  border: 1px solid palegoldenrod;
  padding: 25px;
  border-radius: 5px;
  color: azure;
}
.text-decoration-none {
  color: palegoldenrod;
}
.text-decoration-none:hover {
  color: peachpuff;
}
