.container {
  padding-top: 150px;

}
.header-paragraph {
  font-family: monospace;
  font-size: 17px;
  color: #a7a4a3;
  text-align: justify;
}
.header-tille {
  font-family: monospace;
  font-size: 52px;
  color: #cac8c7;
  font-weight: 700;
}
.header-tille span {
  color: peru;
}
h6 {
  color: palegoldenrod;
  font-family: monospace;
}
.header-button{
  border: 1px solid palegoldenrod;
  font-family: monospace;
  font-size: 15px;
  color: peachpuff;
  padding: 9px 15px;
  text-decoration: none;
  margin-right: 5px;

}
.header-button:hover{
    background-color: #282C33;
    color: palegoldenrod;

}
