.header-paragraph {
  font-family: "Fira Code", monospace;
  font-size: 17px;
  color: #a7a4a3;
  text-align: justify;
}

.header-container {
  width: 1124px;
  margin: 0 auto;
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  justify-content: space-between;
  align-items: center;
  padding-top: 200px;
}
.header-tille {
  font-family: "Fira Code", monospace;
  font-size: 35px;
  color: #cac8c7;
}

.btn-outline-light {
  border: 1px solid palegoldenrod;
  font-size: 15px;
  color: peachpuff;
  padding: 9px 15px;
  text-decoration: none;
  margin-right: 5px;
  font-family: "fira code", monospace;
}
.btn-outline-light:hover {
  background-color: #282c33;
  color: #abb2bf;
}
