.navbar {
  background-color: #0a192f;
}
.logo{
  border-color: #64ffda;
  color: #64ffda;
  width: 62px;
  height: 62px;
  /* border: 1px solid ; */
}
.logo:hover{
  border-color: #64ffda;
  color: #64ffda;
  width: 62px;
  height: 62px;
}
.logo-name{
    font-family: JetBrains 'Courier New', Courier, monospace;
    position: relative;
    right: 49px;
    top: 5px;
}
.logo-name:hover{
    color: aliceblue;
    
}



/* .navbar-brand{
  width: 100px;
  height: 57.735px;
  background: red;
  border: 1px solid red;
  position: relative;
  margin-top: 30px;
}
.navbar-brand::before{
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-bottom: 28.8675px solid red;
    border-right: 50px solid transparent;

}
.navbar-brand::after{
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid red;
} */
