.navbar {
  background-image: linear-gradient(to right, #164A41,#4D774E,#9DC88D);
}
.nav-link{
  font-family: JetBrains Mono;
  color: white;
  margin-right: 25px;
  
}
.nav-link:hover{
  font-family: JetBrains Mono;
  color: #eeb95e;
  margin-right: 25px;
  
  
}
.navbar-nav {
  margin-right: 50px;
}

