.nav-link {
  font-family: monospace;
  color: #abb2bf;
  margin-right: 25px;
}
.nav-link:hover {
  font-family: monospace;
  color: #dfdbd9;
  margin-right: 25px;
}
.navbar-nav {
  margin-right: 50px;
}
.navbar-brand {
  font-size: 32px;
  font-family: monospace;
  color: #abb2bf;
}
.navbar-brand:hover {
  color: #dfdbd9;
}
.navbar-button{
  font-family: monospace;
  font-size: 17px;
  padding: 4px 10px;
  border: 1px solid #abb2bf ;
  background-color: #282C33;
  color: #dfdbd9;
  border-radius: 7px;
  margin-right: 35px;
}
.navbar-button:hover{
  color: #888685;
}