body {
  background-color: #0a192f;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  font-family: monospace;
  font-size: 14px;
  color: #64ffda;
  margin: 15px 100px;
}
.navbar-brand {
  color: #64ffda;
}
.navbar-brand:hover {
  color: #64ffda;
}
.nav-link {
  color: #64ffda;
}
.nav-link:hover {
  color: rgb(188, 189, 173);
}
.nav-item {
  margin-right: 10px;
}
.btn {
  border: 1px solid #64ffda;
  background-color: #0a192f;
  margin-left: 10px;
  padding: 10px 20px;
}
.btn:hover {
  background-color: rgba(128, 128, 128, 0.178);

  border: 1px solid #64ffda;
}
.header-container {
  text-align: left;
  position: absolute;
  top: 250px;
  left: 450px;
}
.intro {
  color: #64ffda;
  font-family: monospace;
}
.header-title {
  font-size: 58px;
  font-family: JetBrains Mono;
  color: #ccd6f6;
  font-weight: 700;
  margin-top: 20px;
}
.heading-paragraph {
  font-size: 17px;
  color: #ccd6f6;
  width: 490px;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 60px;
}
.about-title {
  font-size: 27px;
  font-family: monospace;
  font-weight: 700;
  color: #ccd6f6;
}
.number {
  color: #64ffda;
  font-family: monospace;
  font-size: 20px;
}
hr {
  width: 250px;
  position: relative;
  top: -30px;
  left: 180px;
}
.about-section {
  text-align: left;
  position: absolute;
  top: 1050px;
  left: 480px;
}

.about-section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.about-section-text {
  text-align: left;
  color: #ccd6f6;
  font-size: 17px;
}
.technologies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-top: 12px;
}

.about-img-container img {
  width: 320px;
  height: 320px;
}
