body {
  background-color: #0a192f;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h6 {
  color: #64ffda;
  font-family: monospace;
  font-size: 15px;
}
.display-3 {
  color: #ccd6f6;
  font-size: 58px;
  font-family: Jetbrains Mono;
}
.lead {
  color: #8892b0;
  font-size: 17px;
  font-family: monospace;
}

.btn {
  color: #64ffda;
  font-family: monospace;
  border-color: #64ffda;
  background-color: black;
}
.btn:hover {
  border-color: #64ffda;
  background-color: #7e7d7d23;
  color: #64ffda;
}
.hcf-transform {
  margin-top: 230px;
}
.about-me {
  font-family: monospace;
  color: #64ffda;
  font-size: 28px;
}
.fs-5 {
  font-family: monospace;
}
hr {
  position: relative;
  bottom: 27px;
  left: 180px;
  max-width: 65%;
}

.about-p {
  font-size: 21px;
  color: #8892b0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 30px;
}
.technologies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #8892b0;
  margin-top: 15px;
  list-style-type: none;
}
.about-me-section {
  margin-top: 200px;
  margin-bottom: 150px;
}
.social-icon {
  width: 19px;
  height: 19px;
  color: #8892b0;
}
.social-icon:hover {
  width: 20px;
  height: 20px;
  color: #727b94;
}
.copyright {
  font-size: 13px;
  font-family: monospace;
  color: #8892b0;
}
.footer-link {
  text-decoration: none;
  color: #64ffda;
  font-size: 13px;
  font-family: monospace;
}
.credits {
  font-size: 13px;
  font-family: monospace;
  color: #8892b0;
  margin-left: 35px;
}
.nav-link {
  color: #8892b0;
  font-family: monospace;
  margin-right: 15px;
  font-size: 14px;
}
.nav-link:hover {
  color: #64ffda;
  font-family: monospace;
  margin-right: 15px;
  font-size: 14px;
}
.nav-serial {
  color: #64ffda;
  font-size: 12px;
  font-family: monospace;
}
.navbar-brand {
  color: #64ffda;
  font-size: 28px;
  font-family: JetBrains monospace;
}
.what-next {
  font-family: monospace;
  font-size: 18px;
}
.serial-num {
  font-size: 15px;
  font-family: monospace;
}
.display-5 {
  font-size: 42px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #8892b0;
  /* width: 50%; */
}
.text-secondary {
  width: 80%;
  margin: 0 auto;
}
.contact{
  margin-top: 50px;
  margin-bottom: 100px;
}
/* .project-container{
  width: 82%;
  margin: 0 auto;

} */
.card-group{
  width: 323px;
  height: 350px;
  
}
.card{
  background-color:  #112240;;
}
.card-text{
  color: #848FAF;
  font-family: monospace;
  font-size: 16px;
}
.card-title{
  color: #ccd6f6;
  font-size: 19px;
  font-family: JetBrains Mono;

}
.project-icon-container{
  display: flex;
  /* grid-template-columns: repeat(2,1fr); */
 justify-content:space-between;
  align-items: center;
  color: #64ffda;
  padding: 10px 35px;
}
/* .project-socila-icon{
  padding-right: 10px;
} */


