body {
  background-color: #0a192f;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h6{
  color: #64ffda;
  font-family: monospace;
  font-size: 15px;
}
.display-3{
  color: #CCD6F6;
  font-size: 58px;
  font-family: Jetbrains Mono;


}
.lead{
  color: #8892B0;
  font-size: 17px;
  font-family: monospace;
  
}

.btn {
  color: #64ffda;
  font-family: monospace;
  border-color: #64ffda;
  background-color: black;

}
.btn:hover{
  border-color:#64ffda;
  background-color:#7e7d7d23;
  color: #64ffda;
  
}
.hcf-transform{
  margin-top: 230px;
  
}
.about-me{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #64ffda;
  font-size: 28px;

}
hr{
  position: relative;
   bottom: 27px; 
  left: 180px;
  max-width: 65%;
}

.about-p{
  font-size: 21px;
  color: #8892B0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 30px;

}
.technologies{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #8892B0;
  margin-top: 15px;
  list-style-type: none;
}
.about-me-section{
  margin-top: 200px;
  margin-bottom: 200px;
}
